body {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
    padding-bottom: 100px;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
}

/* Body */
main {
    height: auto;
    /* border: 1px solid red; */
}

aside {
    border-radius: 8px;
    display: block;
}

.searchHeader {
    text-align: center;
    padding: 10px;
    font-weight: 600;
}


.currentWeather {
    height: 400px;
}

.currentWeather h1 {
    margin: 30px;
    text-align: left;
    font-weight: 600;
}

.date {
    font-size: large;
}

.uvGreen {
    width: 150px;
    background-color: green;
}
.uvYellow {
    width: 150px;
    background-color: yellow;
}
.uvRed {
    width: 150px;
    background-color: red;
}

.weatherIcon {
    text-align: right;
}

.cityInput, .history {
    padding: 20px;
}

.historyList {
    margin-top: 20px;
}
.historyBtn {
    width: 100%;
    background-color: transparent;
    border-radius: 8px;
    border: 0.5px solid grey;
}


.currentWeather, .forecast {
    margin-bottom: 30px;
    border-radius: 8px;
}

.currentWeather {
    border: 1px solid grey;
}

.currentWeather p {
    margin-left: 75px;
    font-size: 18px;
}

.forecast h5 { 
    margin: 30px;
    font-weight: 600;
    text-align: left;
   
}
.forecastDate {
    font-size: 20px;
    font-weight: 500px;
}

.forecast {
    margin: 12px;
    height: auto;
    font-size: 15px;
    text-align: center;
    background-color: rgb(174, 226, 250);
    /* border: 1px solid grey; */
    border-radius: 8px; 
}




/* Footer */
footer {
    width: 100%;
    height: 50px;
    text-align: center;
    position: fixed;   
    bottom: 0;
 
}