body {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
    padding-bottom: 100px;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
}

/* Body */
main {
    height: auto;
    /* border: 1px solid red; */
}

aside {
    border-radius: 8px;
}

.searchHeader {
    text-align: center;
    padding: 10px;
}

.currentWeather h1 {
    text-align: left;
    margin: 30px;
}

.cityInput, .history {
    padding: 20px;
}

.currentWeather, .forecast {
    border-radius: 8px;
    border: 1px solid grey;
}

.currentWeather p {
    margin-left: 30px;
    font-size: 18px;
}





/* Footer */
footer {
    width: 100%;
    height: 50px;
    text-align: center;
    position: fixed;   
    bottom: 0;
 
}