body {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
    padding-bottom: 100px;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
}

/* Body */
main {
    height: auto;
    /* border: 1px solid red; */
}

aside {
    border-radius: 8px;
}

.searchHeader {
    text-align: center;
    padding: 10px;
    font-weight: 600;
}

.currentWeather h1 {
    margin: 30px;
    text-align: left;
    font-weight: 600;
}

.cityInput, .history {
    padding: 20px;
}

.currentWeather, .forecast {
    margin-bottom: 30px;
    border-radius: 8px;
    border: 1px solid grey;
}

.currentWeather p {
    margin-left: 75px;
    font-size: 18px;
}

.forecast h5 { 
    margin: 30px;
    font-weight: 600;
    text-align: left;
   
}

.forecast {
    margin: 12px;
    height: auto;
    font-size: 15px;
    background-color: rgb(174, 226, 250);
    border: 1px solid grey;
    border-radius: 8px; 
}





/* Footer */
footer {
    width: 100%;
    height: 50px;
    text-align: center;
    position: fixed;   
    bottom: 0;
 
}